---
# run info
n_episodes: 50
seed: 42
n_workers: 2
max_optimisation_steps: 1000

# Learner Config
learner_config: 
    run_name: "FNN_run1"
    max_steps: 10000
    max_steps_per_episode: 400
    target_updates: 1000
    samples_per_update: 512
    sgd_iterations: 4
    batch_size: 128
    IS: false
    log_interval: 10
    n_workers: 1
    optimiser_config:
      type: "adam"
      learning_rate: 5e-5
    

# Controller Config
controller_config: 
    action_size: 5
    neighbour_depth: 2
    batch_size: 32
    gae_horizon: 16
    n_epochs_update: 3
    gamma: 0.99
    lam: 0.9
    clip_epsilon: 0.2
    value_loss_coefficient: 1.0
    entropy_coefficient: 0.01
    tau: 0.99
    n_features: 12
    actor_config:
      type: "FNN"
      n_heads: 5
      hidden_size: 128
      intent_size: 32
      neighbour_depth: 3
      layer_sizes: 
      - 256
      - 128
    critic_config:
      type: "FNN"
      hidden_size: 128
      layer_sizes: 
      - 256
      - 128


# Environment Config
environment_config:
    height: 30
    width: 30
    n_agents: 8
    n_cities: 4
    grid_distribution: false
    max_rails_between_cities: 2
    max_rail_pairs_in_city: 2
    observation_builder_config: 
      type: "tree"
      predictor: "shortest_path"
      max_depth: 3
    malfunction_config:
      malfunction_rate: 0.001
      min_duration: 20
      max_duration: 50
    speed_ratios: 
      1.: 0.7
      0.5: 0.3
    reward_config: "simple_step_penalty"